<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beok.beok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />.
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".PreLogIn" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Cadastro" android:screenOrientation="portrait" />
        <activity android:name=".Diary1" android:screenOrientation="portrait"/>
        <activity android:name=".FirstAccess" android:screenOrientation="portrait" />
        <activity android:name=".Login" android:screenOrientation="portrait" />
        <activity android:name=".Tela2" android:screenOrientation="portrait" />
        <activity android:name=".Tela3"  android:screenOrientation="portrait"/>
        <activity android:name=".Tela4"  android:screenOrientation="portrait"/>
        <activity android:name=".Tela5" android:screenOrientation="portrait"/>
        <activity android:name=".Tela6"  android:screenOrientation="portrait"/>
        <activity android:name=".TelaPerguntas" android:screenOrientation="portrait"  />
        <activity android:name=".UsouDroga" android:screenOrientation="portrait"/>
        <activity android:name=".NaoUsouDroga" android:screenOrientation="portrait" />
        <activity android:name=".Fim" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta1" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta2" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta3" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta4" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta5" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta6" android:screenOrientation="portrait"/>
        <activity android:name=".Pergunta7" android:screenOrientation="portrait"/>
        <activity android:name=".VontadeUsa" android:screenOrientation="portrait"/>
        <activity android:name=".AlternativaUso" android:screenOrientation="portrait"/>
        <activity android:name=".SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name=".MetaSemanal" android:screenOrientation="portrait"/>
        <activity android:name=".MetaTratamento" android:screenOrientation="portrait"/>
        <activity android:name=".MetaTratamentoReducao" android:screenOrientation="portrait"/>
        <activity android:name=".Atividades" android:screenOrientation="portrait"/>
        <activity android:name=".Atividade1" android:screenOrientation="portrait"/>
        <activity android:name=".Atividade2" android:screenOrientation="portrait"/>
        <activity android:name=".Atividade3" android:screenOrientation="portrait"/>
        <activity android:name=".BotaoPanico1" android:screenOrientation="portrait"/>
        <activity android:name=".BotaoPanico2" android:screenOrientation="portrait"/>

        <meta-data
            android:name="DATABASE"
            android:value="beok.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="beok.beok.POJO" />

        <activity android:name=".MetaSemanalGeral" android:screenOrientation="portrait"></activity>

        <service android:name=".NotificacaoDiario" />
        <service android:name=".NotificacaoMetaSemanal" />
        <service android:name=".NotificacaoTerapia" />

        <activity android:name=".Informacoes" android:screenOrientation="portrait"/>
        <activity
            android:name=".GruposZona"
            android:label="@string/title_activity_grupos"
            android:theme="@style/AppTheme.NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".Grupos" android:screenOrientation="portrait"></activity>
    </application>

</manifest>