<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beok.beok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PreLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Cadastro" />
        <activity android:name=".Diary1" />
        <activity android:name=".FirstAccess" />
        <activity android:name=".Login" />
        <activity android:name=".Tela2" />
        <activity android:name=".Tela3" />
        <activity android:name=".Tela4" />
        <activity android:name=".TelaPerguntas" />
        <activity android:name=".UsouDroga" />
        <activity android:name=".NaoUsouDroga" />
        <activity android:name=".Fim" />
        <activity android:name=".Pergunta1" />
        <activity android:name=".Pergunta2" />
        <activity android:name=".Pergunta3" />
        <activity android:name=".Pergunta4" />
        <activity android:name=".Pergunta5" />
        <activity android:name=".Pergunta6" />
        <activity android:name=".Pergunta7" />
        <activity android:name=".VontadeUsa" />
        <activity android:name=".AlternativaUso" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".MetaSemanal" />
        <activity android:name=".MetaTratamento" />
        <activity android:name=".Atividade1" />
        <activity android:name=".Terapia" />
        <activity android:name=".BotaoPanico1"/>
        <activity android:name=".BotaoPanico2"/>

        <meta-data
            android:name="DATABASE"
            android:value="beok.db" />
        <meta-data
            android:name="VERSION"
            android:value="2" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="beok.beok.POJO" />

        <activity android:name=".MetaSemanalGeral"></activity>
    </application>

</manifest>