<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="beok.beok">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PreLogIn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main" />
        <activity android:name=".Cadastro" />
        <activity android:name=".Diary1" />
        <activity android:name=".Diary2" />
        <activity android:name=".Diary3Alcohol" />
        <activity android:name=".Diary3Marijuana" />
        <activity android:name=".Diary3Cocaine" />
        <activity android:name=".Diary3Crack" />
        <activity android:name=".Diary4" />
        <activity android:name=".Diary5" />
        <activity android:name=".Diary6" />
        <activity android:name=".FirstAccess" />
        <activity android:name=".Login"></activity>

        <meta-data android:name="DATABASE" android:value="beok.db" />
        <meta-data android:name="VERSION" android:value="2" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="beok.beok.POJO" />
    </application>

</manifest>